<header>
  <nav class="navbar navbar-expand-sm navbar-info bg-dark">
      <div><a href="https://www.google.com" class="navbar-brand">
          Google</a></div>

      <ul class="navbar-nav">
          <li><a   routerLink="/welcome/name" class="nav-link">Welcome Page</a></li>
          <li><a   routerLink="/task" class="nav-link">Task List</a></li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
              <li><a  routerLink="/login" class="nav-brand">Login</a></li>
              <li><a  routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>
  </nav>
</header>