<div class="container">
  <!-- <ul class="nav nav-tabs">
    <li class="nav-items">
      <a class="nav-link" routerLink="/bar-charts">Bar Chart</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>

  </ul> -->
  
<div>
    <router-outlet></router-outlet>
</div>

</div>
